*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Tom{
    width:fit-content;
    position: relative;
    margin: 0 auto;
}
@media screen and (max-width:600px){
    .Tom{
        width: 100%;
        position: relative;
    }
    #cat{
        width: 100%;
        height: auto;
    }
}
ul{
    list-style: none;
}
#cat{
    height: 99vh;
}
.buttons-left{
    top:60%;
    position: absolute;
}
.buttons-right{
    top:60%;
    position: absolute;
    right: 0%;
}
#angry{
    width: 15vw;
    height: 8vh;
    position: absolute;
    top:30%;
    left: 43%;
}
#head{
    width: 40vw;
    height: 8vh;
    position: absolute;
    top:15%;
    left: 33%;
}
#stomach{
    width: 35vw;
    height: 8vh;
    position: absolute;
    top:75%;
    left: 33%;
}
#footLeft{
    width: 15vw;
    height: 8vh;
    position: absolute;
    top:90%;
    left: 33%;
}
#footRight{
    width: 15vw;
    height: 8vh;
    position: absolute;
    top:90%;
    left: 53%;
}